html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, ul {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.title {
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}

.card {
  min-width: 24%;
  min-height: 80px;
  /* background-color: blue; */
  margin: 1px;
}

.card div {
  padding-bottom:100%;
  background:#EEE;
  height:0;
  position:relative;
}

img {
  width: 100%;
}

.hide {
  display: none;
}
